body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes vaquita {
    0%   {background-color: palevioletred;}
    25%  {background-color: pink;}
    50%  {background-color: cyan;}
    100% {background-color: lightblue;}
  }

.box {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: violet;
    animation-name: vaquita;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: identifier;
}


@keyframes identifier {
    0% { top: 0;  right: 0; }
    25% {top: 0; right: 200px;}
    30% { bottom: 200px;  right: 200px; }
    50% { top: 0; left: 0; right: 0; }
    70% { top: 0; left: 0; right: 0; }
    100% { top: 0; left: 0; right: 0; }
  }